/* 
    Created on : Aug 29, 2015, 4:29:11 AM
    Author     : user test
*/
.contact { text-align: right;
           font-size: 12px;
           padding: 2%;}

.body {padding: 0 20% 0 10%;}

body dt{
    font-weight: bold;}

.catTitle {font-weight: bolder;
           font-size: 150%;}

dt{
    padding: 1% 1% 1% 1%;
}

dd{padding: 0 2.5% 0 2.5%;}